<html>
   <head>
      <title><%= title %></title>
      <%- include ('partials/headDetalleInstitucion'); -%>
   </head>
   <body>
      <%- include ('partials/header'); -%>
      <!-- Filtro de busqueda -->
      <%- include ('partials/busqueda_general'); -%>
      <!-- Sección Página -->
      <div id="paginaSeccion" class="tamanoBody">
         <!-- Breadcrum -->
         <nav class="ubicacion sticky-top sticky-top_movil">
            <ol class="breadcrumb breadcrumb_movil_detalle">
               <li class="breadcrumb-item"><a class="inicio" href="/">Inicio</a></li>
               <li class="breadcrumb-item"><a class="inicio" href="/instituciones/">Instituciones</a></li>
               <li id="_titlebreadcrum" class="breadcrumb-item color_detalle puntos_suspensivos limitado" aria-current="page" style="max-width: 70%;"><%= title %></li>
            </ol>
         </nav>

         <div>
            <%- include ('partials/banner_detallepublicAuthority'); -%>
         </div>
         <div class="container screen_all_contratacion">
            <div class="row espacio_institucion_contacto">
                  <div class="col-lg-4 col-md-6 text18INST">
                     <p>Correo electrónico</p>
                     <p><img class="icono_size" src="<%=icon_email%>" /></p>
                     <p id="_email"></p>
                  </div>
                  <div class="col-lg-4 col-md-6 text18INST">
                     <p>Teléfono</p>
                     <p><img class="icono_size" src="<%=icon_phone%>" /></p>
                     <p  id="_telephone"></p>
                  </div>
                  <div class="col-lg-4 col-md-12 text18INST">
                     <p>Sitio web</p>
                     <p><img class="icono_size" src="<%=icon_web%>" /></p>
                     <p id="_url"></p>
                  </div>
            </div>
            <div>
               <p class="tituloCont">Mapa de relaciones</p>
               <div class="row areaMapaR">
                  <div class="col-3">
                     <b class="circle1"></b> 
                     <p>Institución</p>
                  </div>
                  <div class="col-3">
                     <b class="circle2"></b> 
                     <p>Proyecto</p>
                  </div>
                  <div class="col-3">
                     <b class="circle3"></b> 
                     <p>Contratación</p>
                  </div>
                  <div class="col-3">
                     <b class="circle4"></b> 
                     <p>Contratista</p>
                  </div>
               </div>
               <div>
                  <div id="chartInstitucion"></div>
               </div>
            </div>
            <div>
               <div class="ocultaChar"></div>
               <hr>
               <h1 class="titulo_lista faMovil">Contrataciones en las que participa</h1>
               <!-- Buscador -->
               <div class="busquedaCenlqP" id="busqueda_contratos">
                  <div>
                     <form class="form-inline search-form">
                        <div class="input-group">
                              <input id="palabra_clave_contrataciones" class="form-control py-2 select_letra_tamaño borderCornerLeft" type="search" placeholder="Buscar contrataciones" onkeyup="buscarDelayContratacion()" >
                              <span class="input-group-append">
                                 <button class="btn buscar_proyectos borderCorner lupin" type="button">
                                    <i class="fa fa-search faMovil"></i>
                                 </button>
                              </span>
                        </div>
                     </form>
                  </div>
               </div>
               <!-- Lista de contrataciones -->
               <div>
                  <div id="lista_contrataciones"></div>
                  <div class="container box">                 
                     <ul class="pagination justify-content-center">
                        <div id="paginas_lista_contrataciones" class="row"></div>        
                     </ul>
                  </div>
                  <a id="downloadAnchorElem" style="display:none"></a>
            </div>
            </div>
         </div>
         <input type="hidden" id="prefixOC4ID" value="<%= prefixOC4ID %>">
         <input type="hidden" id="partyid" value="<%= partyid %>">
      </div>
      <%- include ('partials/footer'); -%>
   </body>       
</html>